@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:wght@300&family=Turret+Road:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
}
:root{
    --fonteCanvas: 'Walter Turncoat';
}

header > h1{
    font-family: var(--fonteCanvas);
    color: white;
    font-size: 3em;
    text-align: center;
}
header{
    margin-bottom: 50px;
}
body{
    background-color: rgb(39, 38, 38);
    color: white;
}
main{
    display: flex;
    justify-content: space-around;
}

canvas{
    width:65vw;
    height:60vh;
    background-color: #497959;
    font-family: var(--fonteCanvas);
    font-size: 50px;
    border: ridge 10px rgb(204, 109, 21);
}
#guess{
    margin: 10px;
    width:30px;
    background-color: white;
}
div#addWord > input{
    width:14em;
    margin: 10px;
}